*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

html {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}

.create-post-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

.create-post-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);  

}

.create-post-section input,
.create-post-section textarea{
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-post-section button{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}