body{
    font-family: Arial;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    width:400px;
    text-align:center;
    border-radius:10px;
}

input{
    width:80%;
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

.result{
    margin-top:20px;
}

.hidden{
    display:none;
}