body {

            display: flex;
            align-items: center;
            justify-content: center;
            height: 90vh;

        }

        #container {
            width: 300px;
            height: 330px;
            display: flex;
            flex-direction: column;
            border: 2px solid rgb(68, 125, 231);
            padding-left: 20px;
            border-radius: 8px;

        }

        .color{
            color: rgb(79, 4, 150);
            font-weight: 600;
        }
        #tip_per_person{
            font-weight: 600;
        }

        h1 {
            margin-bottom: 30px;
            color: brown;
        }


        #bill {
            margin-left: 20px;
        }

        #tip_percentage {
            margin-left: 4px;
        }

        #total_person {
            margin-left: 20px
        }

        #calculate {
            width: 100px;
            margin-top: 5px;
            cursor: pointer;
            background-color: green;
            border-radius: 5px;
            border: none;
            color: white;
        }

        #reset {
            width: 80px;
            margin-top: 5px;
            cursor: pointer;
            margin-right: 30px;
             background-color: red;
            border-radius: 5px;
            border: none;
            color: white;
        }

        #container span {
            margin-bottom: 20px;
        }

        #calc {
            width: 280px;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }

        .toaster {
            position: absolute;
            display: none;
            top: 20px;
            right: 0px;
            background-color: red;
            width: 190px;
            height: 40px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            text-align: center;
            padding-top: 20px;


        }